@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: nunito;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

form input,
form textarea,
form select {
    width: 100%;
    padding: 5px;
    margin: 5px 0 20px;
    resize: none;
}

form button {
    padding: 5px 10px;
    text-transform: uppercase;
    background-color: #ffbe51;
    border: 0;
    color: #fff;
    font-weight: 600;
}

