@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;800&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: nunito;
}

.banner {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header {
    background-color: #FFBE51;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}

header img{
    width: 350px;
    margin: 0;
    padding: 0;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    display: inline-block;
    padding: 15px;
    align-items: center;
    display: flex;
}

header ul li a {
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
    font-size: 20px;
    align-items: center;
}

/* CORPO */

section.corpo {
    display: flex;
    margin: 10% 0;
}

section.corpo p {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
    text-transform: uppercase;
    color: #757575;
    margin-right: 5%;
}

section.corpo img {
    width: 500px;
}

section.sec-servicos {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section.serv {
    background-color: #E5E5E5;
    padding-bottom: 7%;
}

section.serv h2 {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    color: #000000;
    padding-top: 40px;
}

section.sec-servicos article h3{
    font-weight: 600;
    text-transform: lowercase;
    margin: 5px 0;
}

section.sec-servicos article p {
    font-weight: 600;
    margin: 0;
}

section.mais {
    display: flex;
    margin: 10%;
}

section.mais img {
    width: 400px;
}

section.mais p {
    padding-left: 10%;
    color: #757575;
    font-weight: 600;
    font-size: 27px;
    line-height: 37px;
}

section.mais p span {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}

section.rodape{
    display: flex;
    padding: 3% 0;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

section.fundo {
    background-color: #FFBE51;
}

footer {
    background-color: #C4C4C4;
}

section.rodape img{
    width: 225px;
}

section.rodape p a {
    text-decoration: none;
    color: black;
}

footer p#copyrigth {
    text-align: center;
    margin:0;
    padding: 15px;
}

/* PÁGINA SERVIÇOS */

.content {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

#servicos {
    margin: 8% 0% 0% 0%;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    line-height: 55px;
    color:rgba(255, 193, 7, 1);
}

.banho-completo img {
    width: 250px;
    height: 250px;
    margin: 8% 5% 8% 13%;
}

.banho-completo {
    display: flex;
    border-bottom: solid 3px #C4C4C4;
}


article button {
    height: 10%;
    padding: 5px 80px;
    border-radius: 0%;
    border: 0;
    background-color: #FFC107;
    text-transform: lowercase;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.banho-completo article {
    margin: 8% 13% 8% 0%;
}

article h2 {
    margin: 0;
    font-weight: bold;
    font-size: 30px;
    line-height: 55px;
    text-transform: uppercase;
    color: #000000;
}

article h2 span {
    font-weight: lighter;
    font-size: 25px;
}

article p {
    font-size: 20px;
    font-weight:lighter;
    line-height: 25px;
    color: #757575;
}

/* PÁGINA CONTATOS */


.content h1 {
    margin: 8% 0% 5% 0%;
    font-weight: bold;
    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;
    color:rgba(255, 193, 7, 1);
}


form input, form textarea {
    width: 100%;
    padding: 5px;
    margin: 5px 0 20px;
    resize: none;
}

form textarea {
    padding: 5px 100px 100px 5px;
}

form button {
    width: 100%;
    height: 10%;
    border-radius: 0%;
    border: 0;
    background-color: #FFC107;
    text-transform: lowercase;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

form {
    display: flex;
    flex-wrap: wrap;
}

section.contatar {
    display: flex;
    justify-content: space-between;
}

div.contatar {
    width: 40%;
}

.contatos-redes {
    margin-bottom: 10%;
}

.contatos-redes p {
    margin: 0 0 20px 0;
}

.contatos-redes p a{
    text-decoration: none;
    color: black;
}


/* PÁGINA LOGIN */

section.login, section.cadastro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px;
}

section.login img {
    width: 465px;
    /* height: 380px; */
}

div.login {
    padding-bottom: 115px;
    width: 40%;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

.login form h2 {
    margin: 10% 34%;
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    text-transform: uppercase;
    color: #FFC107;
}

.login form input, .cadastro form input {
    margin: 10px 60px;
}

button#entrar {
    margin: 2% 24%;
    height: 10%;
    padding: 1% 20%;
    border-radius: 0%;
    border: 0;
    background-color: #FFC107;
    text-transform: lowercase;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.login a {
    margin: 0 27%;
    color: black;
    text-decoration: none;
    text-transform: lowercase;
}

/* PÁGINA CADASTRO */

section.cadastro img  {
    width: 50%;
}

div.cadastro {
    padding-bottom: 80px;
    width: 40%;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

.cadastro form h2 {
    margin: 10% 22%;
    font-weight: bolder;
    font-size: 40px;
    line-height: 55px;
    text-transform: uppercase;
    color: #FFC107;
}

/* RESPONSIVIDADE DA PÁGINA HOME */

@media (max-width: 1040px) {

    .container {
        width: 1200px;
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .banner{
        width: 1200px;
        max-width: 90%;
        margin: 0 auto;
    }

    section.rodape{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .rodape iframe {
        margin: 0% 2%;
    }
    
    header ul {
        padding: 0;
    }

    section.corpo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sec-servicos article {
        margin-bottom: 50px;
        padding: 20px;
    }

    section.mais {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        justify-content: center;
    }

    section.mais img {
        margin-top: 50px;
    }
}

@media (max-width: 800px) {
    
    header img {
        width: 300px;
    }

    header ul li a {
        font-size: 20px;
    }

    header ul {
        padding: 0;
    }

    header .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    section.corpo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    section.corpo img {
        width: 400px;
    }

    section.corpo p {
        font-size: 35px;
    }

    section.mais {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        justify-content: center;
    }

    section.mais img {
        width: 300px;
    }

    section.rodape{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner {
        width: 1000px;
        max-width: 80%;
        margin: 0 auto;
    }

    .sec-servicos article {
        margin-bottom: 50px;
        padding: 20px;
    }

    .mais img {
        margin-top: 50px;
    }

    .rodape iframe {
        margin: 0% 10%;
    }
}

@media (max-width: 530px) {
    
    header img {
        width: 300px;
    }

    header ul li a {
        font-size: 15px;
    }

    header ul {
        padding: 0;
    }

    header .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    section.corpo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    section.corpo img {
        width: 300px;
    }

    section.corpo p {
        font-size: 35px;
    }

    section.mais {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        justify-content: center;
    }

    section.mais img {
        width: 300px;
    }

    section.rodape{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner {
        width: 1000px;
        max-width: 80%;
        margin: 0 auto;
    }

    .sec-servicos article {
        margin-bottom: 60px;
        padding: 20px;
    }

    .mais img {
        margin-top: 50px;
    }

    .rodape iframe {
        margin: 0% 10%;
    }
}


/* RESPONSIVIDADE DA PÁGINA SERVIÇOS */

@media (max-width: 800px) {

    .content {
        width: 1000px;
        max-width: 80%;
        margin: 0 auto;
    }

    .banho-completo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .banho-completo img {
        margin: 50px 0;
    }

    .banho-completo article {
        margin: 0 0 50px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 530px) {

    header img {
        width: 300px;
    }

    header ul li a {
        font-size: 15px;
    }

    header ul {
        padding: 0;
    }

    header .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .content {
        width: 1000px;
        max-width: 80%;
        margin: 0 auto;
    }

    .banho-completo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .banho-completo img {
        margin: 50px 0;
    }

    .banho-completo article {
        margin: 0 0 50px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* RESPONSIVIDADE DA PÁGINA CONTATOS */

@media (max-width: 1040px) {
    .content {
        width: 1000px;
        max-width: 80%;
        margin: 0 auto;
    }

    .contatar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .content h1 {
        text-align: center;
    }

    div.contatar {
        width: 100%;
    }

    .contatos-redes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10%;
    } 

    .contatos-redes p {
        text-align: center;
    }

    .contatos-redes iframe {
        width: 90%;
    }
}

@media (max-width: 530px) {
    .content {
        width: 1000px;
        max-width: 90%;
        margin: 0 auto;
    }

    .contatar {
        display: flex;
        flex-wrap: wrap;
    }

    div.contatar {
        width: 100%;
    }

    .contatos-redes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10%;
    } 

    .contatos-redes p {
        text-align: center;
    }

    .contatos-redes iframe {
        width: 90%;
    }
}

/* RESPONSIVIDADE DA PÁGINA LOGIN */

@media (max-width: 1040px) {

    .content {
        width: 1000px;
        max-width: 80%;
        margin: 0 auto;
    }

    section.login {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    section.login img {
        width: 100%;
        padding: 40px;
    }

    div.login {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20%;
    }

    div.login a {
        text-align: center;
    }

    div.login form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 800px) {

    .content {
        width: 1000px;
        max-width: 80%;
        margin: 0 auto;
    }

    section.login {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    section.login img {
        width: 100%;
        padding: 40px;
    }

    div.login {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20%;
    }

    div.login a {
        text-align: center;
    }

    div.login form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 545px) {
    div.login {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20%;
    }
}

/* RESPONSIVIDADE DA PÁGINA CADASTRO */

@media (max-width: 1040px) {
    .content {
        width: 1000px;
        max-width: 80%;
        margin: 0 auto;
    }

    section.cadastro {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    section.cadastro img {
        width: 80%;
        padding: 80px;
    }

    div.cadastro form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    div.cadastro {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20%;
    }
}

@media (max-width: 800px) {
    section.cadastro img {
        width: 100%;
        padding: 80px;
    }

    div.cadastro {
        width: 80%;
    }
}

@media (max-width: 545px) {
    section.cadastro img {
        width: 100%;
        padding: 40px;
    }

    div.cadastro {
        width: 100%;
    }
}








